*{
    margin: 0;
    padding: 0;

}
.container{
    width: 1900px; 
    height: 100vh;
    background-image:url(Img/background.jpg);
    background-position: center;
    background-size: cover;
    padding-right: 8%;
    padding-left: 8%;
    box-sizing: border-box; 
}
.navbar{
height: 12%;
display: flex;
align-items: center;
}

.menu{
width: 30px;
cursor: pointer;
margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style:none;
    display: inline-table;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size:  18px;;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background:#fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.car{
    width:250px;
    height: 350px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.car1{
    background-image: url(Img/Chevrolet\ Corvette\ C8.jpg);
}
.car2{
    background-image: url(Img/Jaguar\ F-Type.jpg);
}
.car3{
    background-image: url(Img/Mercedes-AMG\ GT.jpg);
}
.car4{
    background-image: url(Img/porsche_911.jpg);
}
.car:hover{
    transform: translateY(-10px);
}
h5{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #999;
    font-size: 20px;
}
.car p {
    text-shadow: 0 0 15px rgb(110, 110, 110);
    font-size: 15px;
}